*.fbx filter=lfs diff=lfs merge=lfs -binary
*.obj filter=lfs diff=lfs merge=lfs -binary
*.png filter=lfs diff=lfs merge=lfs -binary
*.jpg filter=lfs diff=lfs merge=lfs -binary
*.glb filter=lfs diff=lfs merge=lfs -binary
*.svg filter=lfs diff=lfs merge=lfs -binary
*.mp3 filter=lfs diff=lfs merge=lfs -binary
*.wav filter=lfs diff=lfs merge=lfs -binary
*.hdr filter=lfs diff=lfs merge=lfs -binary
*.txt filter=lfs diff=lfs merge=lfs -text
